streamlit>=1.46.1
pandas>=2.0
numpy>=1.26
pandasai==3.0.0b19
pandasai-openai==0.1.6
langchain-openai==0.3.28
openai>=1.97.1
groq==0.30.0
plotly>=5.0.0
python-dotenv>=1.1.1
requests>=2.31.0
